.DS_Store
.certora_internal
.env
anvil_logs.txt
anvil_sentinel_logs.txt
build/
coverage-report.md
coverage/
dist/
foundry.lock
integration_logs.txt
lcov.info
node_modules/
sentinel_a_logs.txt
sentinel_b_logs.txt
target/
validator*.toml
