.DS_Store
.certora_internal
.env
build/
coverage-report.md
coverage/
dist/
foundry.lock
lcov.info
node_modules/
target/
validator*.toml
!/crates/validator/validator.sample.toml
sentinel*.toml
!/crates/sentinel/sentinel.sample.toml
!/crates/sentinel-engine/sentinel-engine.sample.toml
*_logs.txt
