# This determines the logging level (one of: "error", "warn", "notice", "info", "debug", "silly", "silent")
LOG_LEVEL= # Optional
# The port to serve metrics on (0 <= port <= 65535)
METRICS_PORT= # Optional
# The path to the SQLite database file for storing validator state
STORAGE_FILE= # Optional
# A printf-style format string for backing up the storage file on startup (e.g. "backup-%s.db", where %s is replaced with a timestamp)
STORAGE_BACKUP= # Optional
# The URL of the node to connect to
RPC_URL=
# The private key of the validator (hex string, with 0x prefix)
PRIVATE_KEY=
# The address of the consensus contract
CONSENSUS_ADDRESS=
# The address of the coordinator contract
COORDINATOR_ADDRESS=
# The chain ID of the network to connect to
CHAIN_ID=
# The address array of the validators participating in the consensus (hex string, comma separated)
PARTICIPANTS=
# The salt for the genesis group parameter creation (hex string, with 0x prefix)
GENESIS_SALT= # Optional
# True or 1 to skip genesis epoch and start from the next epoch, false or 0 to start from genesis epoch
SKIP_GENESIS= # Optional
# The number of blocks in an epoch, used to calculate the current epoch from the block number
BLOCKS_PER_EPOCH= # Optional
# The number of blocks to wait before resubmitting a pending (unconfirmed) transaction
BLOCKS_BEFORE_RESUBMIT= # Optional
# The multiplier for the base fee when calculating the transaction fee, allowing higher chance of inclusion
BASE_FEE_MULTIPLIER= # Optional
# The value (in wei) to use for transaction priority fees, ensuring transaction inclusion
PRIORITY_FEE_PER_GAS= # Optional
# The expected block production interval in milliseconds, used to detect when new blocks will be available for polling
# This should only be set for chains where this is not automatically configured
BLOCK_TIME_OVERRIDE= # Optional
# The maximum number of most-recent blocks retained for detecting and recovering from chain reorganizations
MAX_REORG_DEPTH= # Optional
# The number of blocks to fetch per page when querying logs, automatically reduced on RPC errors
# This should be based on the RPC provider's limits. Larger value could result in faster historic sync on startup
BLOCK_PAGE_SIZE= # Optional
# The maximum number of logs to fetch per query, to avoid RPCs from truncating results when too many logs are returned
# This must be set for RPC providers where `eth_getLogs` queries are truncated when too many logs are returned
MAX_LOGS_PER_QUERY= # Optional
# The address of the staker who stakes on behalf of the validator (defaults to the validator's own address)
# The validator will check and set this address on startup (if not set already)
STAKER_ADDRESS= # Optional
