LOG_LEVEL= # Optional
METRICS_PORT= # Optional
STORAGE_FILE= # Optional
STORAGE_BACKUP= # Optional
RPC_URL=
PRIVATE_KEY=
CONSENSUS_ADDRESS=
COORDINATOR_ADDRESS=
CHAIN_ID=
PARTICIPANTS=
GENESIS_SALT= # Optional
BLOCKS_PER_EPOCH= # Optional
BLOCKS_BEFORE_RESUBMIT= # Optional
BASE_FEE_MULTIPLIER= # Optional
PRIORITY_FEE_PER_GAS= # Optional
BLOCK_TIME_OVERRIDE= # Optional
MAX_REORG_DEPTH= # Optional
BLOCK_PAGE_SIZE= # Optional
MAX_LOGS_PER_QUERY= # Optional
