/* Import Inter font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
	--color-primary: var(--color-primary);
	--color-title: var(--color-title);
	--color-title-hover: var(--color-title-hover);
	--color-sub-title: var(--color-title);
	--color-button-content: var(--color-button-content);
	--color-surface-0: var(--color-surface-0);
	--color-surface-1: var(--color-surface-1);
	--color-surface-hover: var(--color-surface-hover);
	--color-surface-outline: var(--color-surface-outline);
	--color-button: var(--color-button);
	--color-button-hover: var(--color-button-hover);
	--color-button-outline: var(--color-button-outline);
	--color-button-content: var(--color-button-content);
	--color-positive: var(--color-positive);
	--color-pending: var(--color-pending);
	--color-error: var(--color-warning);
	--color-error-outline: var(--color-warning-outline);
	--color-error-surface: var(--color-warning-surface);
	--color-warning: var(--color-warning);
	--color-warning-outline: var(--color-warning-outline);
	--color-warning-surface: var(--color-warning-surface);
}

/* Global base styles */
@layer base {
	html,
	body {
		margin: 0;
		padding: 0;
		background-color: var(--color-surface-0);
		color: var(--color-title);
		font-family: "Inter", sans-serif;
	}
	*,
	*::before,
	*::after {
		outline: none;
	}
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@utility bg-core-gradient {
	background: linear-gradient(135deg, #12FF80, #5FDDFF);
}

@utility text-core-gradient {
	background: linear-gradient(135deg, #12FF80, #5FDDFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

@utility bg-guardians-gradient {
	background: linear-gradient(135deg, #001F26, #00B460);
}

:root {
	--color-primary: #12FF80;
	--color-title: #121312;
	--color-title-hover: #303033;
	--color-sub-title: #A1A3A7;
	--color-surface-0: #F4F4F4;
	--color-surface-1: #FFFFFF;
	--color-surface-hover: #EEEFF0;
	--color-surface-outline: #DCDEE0;
	--color-button: #121312;
	--color-button-hover: #303033;
	--color-button-outline: #DCDEE0;
	--color-button-content: #FFFFFF;
	--color-positive: #00B460;
	--color-pending: #FF8061;
	--color-error: #FF5F72;
	--color-error-outline: #FF8FA0;
	--color-error-surface: #FFF0F2;
	--color-warning: #FF8061;
	--color-warning-outline: #FFB0A0;
	--color-warning-surface: #FFF5F0;
}

.dark {
	--color-primary: #12FF80;
	--color-title: #FFFFFF;
	--color-title-hover: #F4F4F4;
	--color-sub-title: #A1A3A7;
	--color-surface-0: #121312;
	--color-surface-1: #1C1C1C;
	--color-surface-hover: #303033;
	--color-surface-outline: #303033;
	--color-button: #12FF80;
	--color-button-hover: #0CB259;
	--color-button-outline: #636669;
	--color-button-content: #121312;
	--color-positive: #00B460;
	--color-pending: #FF8061;
	--color-error: #FF5F72;
	--color-error-outline: #FF8FA0;
	--color-error-surface: #2A1A1C;
	--color-warning: #FF8061;
	--color-warning-outline: #FFB0A0;
	--color-warning-surface: #2A1E1A;
}
